.xcj-order {
  padding: 1rem 1rem 4.75rem 1rem;

  .card-panel {
    padding: 0.625rem 0;
    text-align: center;

    .icon {
      width: 20%;
    }

    .box {
      margin: 0 auto;
      width: 6.25rem;
      text-align: left;
      line-height: 25px;

      .title {
        color: #999;
      }

      .today {
        font-size: 1.25rem;
        color: #333;
      }

      .yesterday,
      .seven-days {
        font-size: 0.875rem;
        color: #999;
      }
    }
  }

  .box-card {
    margin-top: 0.75rem;

    .header {
      padding: 0.75rem;
      background: #f5f5f6;
      border-bottom: 1px solid #ebeef5;
    }

    .search-form {
      padding: 1rem 0 0 1rem;
    }

    .order-data {
      margin: 0 1rem;
      padding: 0.75rem 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      border-bottom: 1px solid #ebeef5;
      font-size: 0.875rem;

      .number {
        color: #dc9387;
        cursor: pointer;
      }
    }

    .user-data {
      padding: 0.625rem;
      text-align: center;

      .number {
        padding: 0.325rem 0;
        font-size: 1.625rem;
        color: #dc9387;
      }

      .type {
        font-size: .875rem;
        color: #666;
      }
    }

    .product-sales {
      .actions {
        display: flex;
        justify-content: flex-end;
        padding: 1.25rem;
        text-align: right;
      }
    }

    .data-stats {
      display: flex;
      flex-flow: row nowrap;
      padding: 0 1rem 1rem 1rem;

      .aside {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 150px;
        border-right: 1px solid #ddd;

        .card {
          padding: 0.625rem 0;
          width: 100%;

          &-text {
            font-size: 0.875rem;
            color: #999;
          }

          &-count {
            padding: 0.375rem 0.75rem;
            font-size: 1.5rem;
            color: #666;
          }

          &-ratio {
            &-up {
              font-size: 0.875rem;
              color: #00a950;
            }

            &-down {
              font-size: 0.875rem;
              color: #f40;
            }
          }
        }
      }

      .chart {
        flex: 1;

        .bar {
          display: flex;
          flex-flow: row;
          justify-content: space-between;
          padding: 0.625rem;
        }
      }
    }
  }

  .group-card {
    margin: 0;

    .data-overview {
      color: #fff;

      .title {
        font-size: 1rem;
      }

      .today-count {
        padding: 0.5rem 0;
        font-size: 2.25rem;
      }

      .yesterday-count {
        padding: 0.25rem 0;
        font-size: 0.825rem;
      }
      .seven-days-count {
        font-size: 0.825rem;
      }
    }

    .order-wrap {
      background-color: #5e83fb;

      .el-card__body {
        padding: 10px;
        font-size: 0.875rem;
      }
    }

    .wash-wrap {
      background-color: #49cccb;

      .el-card__body {
        padding: 10px;
        font-size: 0.875rem;
      }
    }

    .sale-wrap {
      background-color: #964ee5;

      .el-card__body {
        padding: 10px;
        font-size: 0.875rem;
      }
    }

    .service-wrap {
      background-color: #ef597b;

      .el-card__body {
        padding: .625rem 1rem;
        font-size: 0.875rem;
      }
    }
  }
}