@import '@/styles/theme/index.scss';
.navbar {
  color: #fff;
  min-height: 3.25rem;
  position: relative;
  display: flex;
  z-index: 30;
  &-brand {
    align-items: stretch;
    display: flex;
    flex-shrink: 0;
    min-height: 3.25rem;
  }
  &-menu {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 0;
  }
  &-item {
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    line-height: 1.5;
    padding: 0.5rem 0.75rem;
    position: relative;
    cursor: pointer;
    &:hover {
      background-color: #00b89c;
      color: #fff;
    }
  }
  &-start {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    margin-right: auto;
    ul {
      display: flex;
    }
  }
  &-end {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    margin-left: auto;
    .btn-text {
      color: #fff;
    }
    .img-user {
      width: 24px;
      height: 24px;
      margin: 0 8px 0 12px;
      border-radius: 4px;
    }
  }
}
