// 主题名
$theme-name: 'light';
// 主题背景色
$theme-bg-color: #f4f6fb;
// log文字颜色
$theme-logo-color: #444F60;
// 菜单 hover 状态
$theme-menu-item-color-hover: #444F60;
$theme-menu-item-background-color-hover: #ebeff5;
// 顶部导航栏文字颜色
$theme-nav-item-color: #A9ABAC;
$theme-nav-item-background-color: transparent;
// 顶部导航栏项目 hover 状态
$theme-nav-item-color-hover: #444F60;
$theme-nav-item-background-color-hover: rgba(#fff, 0.05);
// 顶部导航栏项目 focus 状态
$theme-nav-item-color-focus: #444F60;
$theme-nav-item-background-color-focus: rgba(#fff, 0.05);
// 顶部导航栏项目 active 状态
$theme-nav-item-color-active: #444F60;
$theme-nav-item-background-color-active: rgba(#fff, 0.05);
// 侧边栏
$theme-menu-side-border-color: #e5e5e5;