// 主题名
$theme-name: 'light';
// 主题背景色
$theme-bg-color: #f4f6fb;
// log文字颜色
$theme-logo-color: #444f60;
// logo背景颜色
$theme-logo-background-color: #ffffff;
// 菜单文字颜色
$theme-menu-font-color: #a9abac;
// 菜单 hover 状态
$theme-menu-item-color-hover: #2f74ff;
$theme-menu-item-background-color-hover: rgba(#fff, 0.6);
// 菜单 focus 状态
$theme-menu-item-color-focus: #2f74ff;
$theme-menu-item-background-color-focus: #ebeff5;
// 菜单 active 状态
$theme-menu-item-color-active: #2f74ff;
$theme-menu-item-background-color-active: #eff6ff;
// 顶部导航背景色
$theme-navbar-background-color: #fff;
// // 顶部导航栏项目文字颜色
$theme-nav-item-color: #a9abac;
$theme-nav-item-background-color: transparent;
// // 顶部导航栏项目 hover 状态
$theme-nav-item-color-hover: #444f60;

// 顶部导航菜单 hover 状态
$theme-horizontal-menu-item-color-hover: #409eff;
$theme-horizontal-menu-item-background-color-hover: #eff6ff;
// 顶部导航菜单 focus 状态
$theme-horizontal-menu-item-color-focus: #409eff;
$theme-horizontal-menu-item-background-color-focus: #eff6ff;
// 顶部导航菜单 active 状态
$theme-horizontal-menu-item-color-focus: #fff;
$theme-horizontal-menu-item-background-color-focus: transparent;

// // 顶部导航栏项目 focus 状态
// $theme-nav-item-color-focus: #2f74ff;
// $theme-nav-item-background-color-focus: rgba(#fff, 0.6);
// // 顶部导航栏项目 active 状态
// $theme-nav-item-color-active: #2f74ff;
// $theme-nav-item-background-color-active: rgba(#fff, 0.6);
// 内容侧边栏
$theme-menu-side-background-color: #fff;
// 侧边栏边框颜色
$theme-menu-side-border-color: #e5e5e5;
// 侧边栏阴影
$theme-menu-side-box-shadow: 2px 0 8px 0 rgba(29, 35, 41, 0.05);
// 侧边栏收缩按钮颜色
$theme-side-collapse-color: #333;
$theme-side-collapse-hover-color: #409eff;