// 主题名
$theme-name: 'light';
// 主题背景色
$theme-bg-color: #ffffff;
// 菜单 hover 状态
$theme-menu-item-color-hover: #f5f7fa;
$theme-menu-item-background-color-hover: #ebeff5;
// 顶部导航栏文字颜色
$theme-nav-item-color: #2a2a2a;
$theme-nav-item-background-color: transparent;
// 顶部导航栏项目 hover 状态
$theme-nav-item-color-hover: #ffeba4;
$theme-nav-item-background-color-hover: rgba(#fff, 0.05);
// 顶部导航栏项目 focus 状态
$theme-nav-item-color-focus: #ffb870;
$theme-nav-item-background-color-focus: rgba(#fff, 0.05);
// 顶部导航栏项目 active 状态
$theme-nav-item-color-active: #ffb870;
$theme-nav-item-background-color-active: rgba(#fff, 0.05);