.xcj-product-coupon {
  padding: 1.25rem;
  .filter-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    .filter-item {
      .txt {
        width: 200px;
        margin-right: 1rem;
      }
    }
  }
  &-table {
    margin-top: 1rem;
    width: 100%;
    .column-img {
      color: #3385ff;
      cursor: pointer;
      border-style: none;
      user-select: none;
    }
  }
  &-pagination {
    margin-top: 1.25rem;
  }
  &-dialog {
    .el-dialog__body {
      max-height: 31.25rem;
      overflow: auto;
    }
  }
}
