html,
body,
.app {
  width: 100%;
  height: 100%;
}

// 主框架结构
.app {
  display: flex;
  flex-flow: column nowrap;
  /* 顶部导航 */
  .navbar {
    color: #fff;
    min-height: 3.25rem;
    position: relative;
    display: flex;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
    z-index: 30;
    &-brand {
      align-items: center;
      justify-content: center;
      display: flex;
      flex-shrink: 0;
      width: 12.5rem;
      min-height: 3.25rem;
      .logo {
        font-size: 1.75rem;
        font-weight: 500;
        white-space: nowrap;
      }
    }
    &-menu {
      display: flex;
      align-items: stretch;
      flex-grow: 1;
      flex-shrink: 0;
      /* 顶部菜单 */
      .el-menu,
      .el-menu-item {
        background-color: transparent;
        border-bottom: none;
      }
    }
    &-item {
      display: flex;
      align-items: center;
      flex-grow: 0;
      flex-shrink: 0;
      padding: 0.5rem 0.75rem;
      position: relative;
      cursor: pointer;
      &:hover {
        color: #fff;
      }
    }
    &-start {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      margin-right: auto;
      ul {
        display: flex;
      }
    }
    &-end {
      display: flex;
      align-items: stretch;
      justify-content: flex-end;
      margin-left: auto;
      .btn-text {
        color: #fff;
      }
      .img-user {
        width: 1.5rem;
        height: 1.5rem;
        margin: 0 0.5rem 0 0.75rem;
        border-radius: 4px;
      }
    }
  }
  /* 主体 */
  &-container {
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
    &-main {
      flex: 1;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      &-tabs {}
      &-body {
        flex: 1;
        flex-grow: 1;
        overflow: auto;
      }
    }
    /* 侧边栏菜单 */
    .menu-side {
      width: 12.5rem;
      .el-menu,
      .el-menu-item {
        background-color: transparent;
        border-right: none;
      }
    }
  }
}