html {
  line-height: 1.15; // -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a {
  background-color: transparent;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* 去掉input类型为number时上下箭头 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}