.xcj-user-portrait {
  margin: 1rem;
  .member-item {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: .375rem;
    .filter {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }
  }
}