// 主题名称
$theme-name: 'green';
// 主题背景颜色
$theme-bg-color: #00d1b2;
// 顶栏和侧边栏中展开的菜单 hover 状态
$theme-menu-item-color-hover: #293849;
$theme-menu-item-background-color-hover: #ecf5ff;
// 顶栏上的文字颜色
$theme-header-item-color: #fff;
$theme-header-item-background-color: transparent;
