// 主题名
$theme-name: 'violet';
// 主题背景色
$theme-bg-color: #f0f2f5;

/* 头部 */
// log文字颜色
$theme-logo-color: rgba(255, 255, 255, 0.75);
// logo背景颜色
$theme-logo-background-color: #2d0275;
// 顶部导航背景色
$theme-navbar-background-color: #2d0275;
// 顶部导航栏操作项文字颜色
$theme-nav-item-color: rgba(255, 255, 255, 0.75);
$theme-nav-item-background-color: #2d0275;
// 顶部导航栏操作项 hover 状态
$theme-nav-item-color-hover: #fff;
// 顶部导航菜单 hover 状态
$theme-horizontal-menu-item-color-hover: #fff;
$theme-horizontal-menu-item-background-color-hover: #7200e6;
// 顶部导航菜单 focus 状态
$theme-horizontal-menu-item-color-focus: #fff;
$theme-horizontal-menu-item-background-color-focus: #7200e6;
// 顶部导航菜单 active 状态
$theme-horizontal-menu-item-color-focus: #fff;
$theme-horizontal-menu-item-background-color-focus: #7200e6;

/* 主题侧边栏 */
// 内容侧边栏背景色
$theme-menu-side-background-color: #1b004c;
// 侧边栏边框颜色
$theme-menu-side-border-color: #e5e5e5;
// 侧边栏阴影
$theme-menu-side-box-shadow: none;
// 侧边栏收缩按钮颜色
$theme-side-collapse-color: #fff;
$theme-side-collapse-hover-color: #fff;

// 菜单文字颜色
$theme-menu-font-color: rgba(255, 255, 255, 0.75);
// 菜单 hover 状态
$theme-menu-item-color-hover: #fff;
$theme-menu-item-background-color-hover: #4c0099;
// 菜单 focus 状态
$theme-menu-item-color-focus: #fff;
$theme-menu-item-background-color-focus: #4c0099;
// 菜单 active 状态
$theme-menu-item-color-active: #fff;
$theme-menu-item-background-color-active: #4c0099;
